.list-content::-webkit-scrollbar {
    display: none;
}

.list-content {
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: grab;
}


.list-title{
    font-size: 1.5rem;
    margin-bottom: 0.4em;
}