/* COMPONENT STYLES */

@media(max-width: 700px){
    .hero-content {
        border-radius: 0 !important;
        width: 100%;
        padding: 3em 1.5em !important;
    }
}



/* HOME PAGE HERO STYLES */




/* DETAILS PAGE STYLES */

