
.header-logo{
    font-family: 'Unbounded', cursive;
}

.header-logo a{
    color: var(--accent-color);
    text-decoration: none;
}
.nav-link{
    font-size: 1.2rem;
    color: var(--light-color);
    padding: 0;
}

.nav-link:focus{
    color: var(--light-color);
}

.nav-link:hover{
    color: var(--accent-color);
}

.nav-item{
    margin-left: 3em;
}

.link-active{
    border-bottom: 3px solid var(--accent-color);
}

@media(max-width: 700px){
    .nav-item{
        margin-left: 2em;
    }
}