@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root{
  --accent-color: #48cae4;
}


*{
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar{
  background-color: var(--dark-color);
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(255,255,255,0.3);
  border-radius: 5px;
}

img{
  max-width: 100%;
  height: auto;
}

p,h1,h2,h3,h4,h5,h6{
  margin-top: 0;
}

.content-container{
  width: 92%;
  max-width: 1500px;
  margin: 0 auto;
}
